@model Movie
@{
    ViewData["Title"] = $"{Model.Name}";
}

<div class="container">
    <h2 class="mt-4 mb-2">Movie details</h2>
    <div class="details">
        <div class="detail">
            <div class="movie-details">
                <h5>Name:</h5>
                <p>@Model.Name</p>
            </div>
            <div class="movie-details">
                <h5>Description:</h5>
                <p>@Model.Description</p>
            </div>
            <div class="movie-details">
                <h5>Start Date:</h5>
                <p>@Model.StartDate.ToString("dd/MM/yyyy")</p>
            </div>
            <div class="movie-details">
                <h5>End Date:</h5>
                <p>@Model.EndDate.ToString("dd/MM/yyyy")</p>
            </div>
            <div class="movie-details">
                <h5>Status:</h5>
                <p>
                    @if (Model.StartDate < DateTime.Now)
                    {
                        <span>Status: </span>

                        <span class="badge bg-primary text-uppercase">Upcoming</span>
                    }
                    else if (Model.StartDate >= DateTime.Now && DateTime.Now <= Model.EndDate)
                    {
                        <span>Status: </span>

                        <span class="badge bg-success text-uppercase">Available</span>
                    }
                    else
                    {
                        <span>Status: </span>

                        <span class="badge bg-danger text-uppercase">Expired</span>
                    }
                </p>
            </div>
            <div class="btn-group" role="group">
                <a class="btn btn-danger me-3" asp-action="Delete" asp-route-id="@Model.Id"><i class="bi bi-trash-fill"></i>&nbsp;Delete</a>
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </div>
        <img src="@Model.ImageUrl" alt="@Model.Name" class="details-img"/>
    </div>
</div>

